*{
  margin: 0;
  padding: 0;
}
body{
  height: 99vh;
  width: 99.5vw;

display: flex;
justify-content: center;
align-items: center;
}
.container{
height: 85vh;
width: 95vw;

display: flex;
gap: 10px;
justify-content: flex-start;
}
.box{
  height: 100%;
  width: 6%;
 
  border-radius: 45px;
  transition-duration: 1s;

}
.box1{
  height: 100%;
  width: 70%;
  border-radius: 0px;
}
.box1 img{
  border-radius: 0px;
  object-fit:cover;

}
img{
height: 100%;
width: 100%;
  border-radius: 45px;
  object-fit:cover;
  transition-duration: 1s;
}
